p{
    color: blueviolet;
}
h2{
    color: aqua;
}
#test h2{
	color: blue;
}
#test p{
	color: red;
}
#test.bbb{
    color: brown;
}
p.bbb{
    color: chartreuse;
}
h2.bbb{
    color: crimson;
}
.bbb *{ 
    color: chocolate;
}
.bbb.xxx{
    color: darkgreen;
}
p.bbb h2.xxx{
    color: darkmagenta;
}