/* p {
    color: red;
}

h2 {
    color: blue;
} */

#test p {
    color: blueviolet;
}   

#test h2 {
    color: brown;
}

.bbb {
    color: rgba(49, 39, 42, 0.521);
}

#test .bbb {
    color: crimson;
}

p.bbb {
    color: darkcyan;
}

h2.bbb {

}

#test p.bbb {

}

.bbb, .xxx {

}

p.bbb, h2.xxx {

}

#test p.bbb, #test p.xxx {

}

.fff * {

}

.fff p {

}

p.fff {

}

.fff .bbb {

}

.fff h2.bbb {

}
