.mainDiv{
    width: 375px;
}
.mainDiv2{
    width: 500px;
}
p{
    line-height: 30px;
    text-indent: 30px;
}
h2{
    color: blue;
    text-align: center;
}
b{
    color: red;
}
h4{
    color: blue;
    text-align: center;
}
ol{
    color: red;
}
h1{
    color: green;
}
em{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(79, 79, 233);
    font-size: normal;
}
strong{
    color: red;
    font-size: x-large;
}
ul{
    font-style: italic;
    color: rgb(161, 101, 101);
}
